:root{
  --leftMenu-width:200px;
}

#leftMenu{
  position:fixed;
  top:0;
  left:0;
  width:var(--leftMenu-width);
  height: 100%;
  border:solid aquamarine;
  font-size:small;
}
#mainWindow{
  padding-left: var(--leftMenu-width);
}

table, table th, table td{
  border-collapse: collapse;
  border: solid 1px;
}


inpurt[type="number"]{
  width: 3em;
  text-align: right;
}

a{
  cursor:pointer;
}

